@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

/* scroll snap container */
.scroll-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

/* each section */
.scroll-section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding-top: 80px;
}
html {
  scroll-behavior: smooth;
}